<title>About Us</title>
<h1>About Us</h1>
<!-- <p>
  Gulch provides context for energy billing and usage. At the intersection of Energy and Technology, Gulch provides unparalled insight into saving money and energy. </p> -->

  <h3> Energy Expertise</h3>
  <h3> Industry Insights </h3>
  <h3> Advanced Sales Tools </h3>

 <h5> Vision: </h5>
  	<div class="bio">
  		To provide clarity, understanding, and insight which drives the best decisions regarding energy. 	
  	</div>  

  <h5> Mission: </h5>
  	<div class="bio">
  		We develop data based tools that de-mystify energy. 
  	</div>
  	<div class="bio"> 
  		these tools utilize public data, utility data, and user inputs to deliver data driven insights specific to each individual users' sources, uses, and costs of energy. 
  	</div>
  	<div class="bio"> 
  		Empowering users to make the best possible decsions regarding energy.
  	</div>


<h2> Team: </h2>
<h5> J.S. Roy </h5>
<h5> Chief Executive Officer </h5>
<div class="bio">
	As Gulch Solutions’ CEO, J.S. brings many years of experience in the energy industry, successfully operating and growing two prior start-ups in the industry – Power2Switch and SoCore Energy. </div>
<div class="bio">
	At Power2Switch, J.S. brought a data-driven approach to understanding, managing and growing the business of this web-based electricity broker.  He championed strategies to increase site traffic, developed and implemented supplier specific strategy, launched P2S’s offering in new markets, and developed several analytics-based tools to support P2S’s sales efforts.</div>
<div class="bio">
	Prior to Power2Switch, J.S. spent several years at SoCore Energy, growing the company from its inception to $40 million in revenue.   SoCore Energy is the market leader in solar portfolio development and commercial rooftop installations. J.S.’s achievements at SoCore Energy include the development, implementation and operation of strategies for PV system engineering, maintenance, and commissioning, and the development of SoCore Energy’s in-depth modeling of the impact of PV production on energy consumption and costs.</div>
<div class="bio">
	J.S. has degrees in Industrial Operations Engineering and Economics from the University of Michigan, and an MBA from the University of Chicago, Booth School of Business.</div> 

<div class="bio">
	When not at Gulch Solutions, J.S. can be found designing and installing grid-interactive PV systems with battery back-up for commercial buildings in Nigeria.</div>


<h5> Kevin Lillie </h5>

<h5> VP Development </h5>
<div class="bio">
Serving as Gulch Solutions’ VP Development, Kevin integrates a technical background with data-driven strategies in the energy industry. </div>
<div class="bio">
At Power2Switch, Kevin implemented strategies which increased SEO rankings, website traffic and customer conversions. Additionally, he focused on clarifying energy information to better demonstrate the benefits of switching electricity providers.</div>
<div class="bio">
Previously, Kevin was with MSI, a top advertising agency, working with clients such as Adobe, Cabelas, and The Home Depot. He has also volunteered for the non-profit micro-lender Accíon Chicago, which helps entrepreneurs obtain capital financing. </div>
<div class="bio">
 He began his career as a Congressional Intern on Capitol Hill in Washington, D.C. </div>
 <div class="bio">
Additionally, Kevin participated in The Starter League, where he pursued an interest in technology and developed programming capabilities. </div>
<div class="bio">
Kevin is a graduate of Knox College, where he studied Economics and Spanish. </div>

<br>
<br>
<br>
<br>
<br>

<!-- <h2> Advisors</h2>

<h5> George Foster</h5> -->
