<title>Gulch Solutions</title>
<div class="home">
<%= link_to image_tag("gulch_solutions_header.png", alt: "Gulch"), '#' %>
</div>
<div class="tag">
<h2> Empowering Energy Sales </h2>
</div>
<div class="button">
<%= link_to "View Demo", signin_path, class: "btn btn-med btn-custom" %>
</div>
